.body-section{
    // SEARCH BAR
    .search-container{
        box-shadow: $shadow-1;

        .container{
            padding: 3rem 1rem;
            display: flex;
            justify-content: center;
            align-items: end;
            row-gap: 2rem;
            margin-inline: auto;

            .dropdown-container{
                display: flex;
                padding-inline: 1rem;
                flex-direction: column;
                max-width: 500px;

                label{
                    padding-inline: 1rem;
                    margin-bottom: .25rem;
                }

                select{
                    border: 1px solid $grey-1;
                    padding: .5rem 1rem;
                    border-radius: $radius-1;
                    height: 45px;

                    &:focus-within{
                        outline: initial;
                    }
                }
            }

            .button-container{
                // padding-inline: 1rem;
                display: flex;
                height: 100%;

                .search-button{
                    width: 100%;
                    height: 45px;
                    padding: .5rem 1rem;
                    background-color: lavender;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: auto;
                    color: #fff;
                    background: $main-1;
                    border-radius: $radius-1;
                }
            }
        }
    }

    // RESULTS
    .card-container{
        padding: 1.5rem .5rem;
        min-height: 300px;
    
        .card{
            position: relative;
            background-color: #fff;
            box-shadow: $shadow-1;
            border-radius: $radius-1;
            padding: 1rem;            
            height: 100%;    
            
            .skill-container{
                display: flex;
                gap: .5rem 1rem;
                margin-block: .75rem .15rem;
                flex-wrap: wrap;
                align-items: center;
    
                i{color: $main-1;}
    
                .badge{
                    padding: .15rem .5rem;
                    border-radius: 500px;
                    border: 1px solid $font-main;
                    color: $font-main;
                    opacity: .75;
                    max-width: 120px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }    

            .language-container{
                display: flex;
                gap: 1rem;
                margin-bottom: 2rem;
                align-items: baseline;

                p{min-width: fit-content;}
            }

            .button-container{
                text-align: center;
    
                button{
                    width: 100%;
                    max-width: 150px;
                    margin-inline: auto;
                    padding: .5rem 1.5rem;
                    border-radius: 500px;
                    border: 1px solid $font-main;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    &:hover{
                        color: $font-main;
                    }
                    
                    // &.view{
                    //     background-color: $blue-1;
                    // }
                    // &.update{
                    //     background-color: $puple-1;
                    // }
                    // &.close{
                    //     background-color: $yellow-1;
                    // }
                    &.delete{
                        background-color: $pink-1;
                        color: #fff;
                        border: 1px solid $pink-1;
                    }
                }
            }                   
        }    
    }    
}