.body-section{
    background-color: $main-3;
    padding-bottom: 5rem;

    .card{
        margin-top: 5rem;
        padding: 3rem 3rem;
        border-radius: $radius-1;
        box-shadow: $shadow-1;
        max-width: 750px;
        margin-inline: auto;
        
        h2{ margin-bottom: 1rem; }
        hr{ margin-block: 2rem; }
        
        .skill-container{
            flex-wrap: wrap;
            display: flex;
            gap: .5rem 1rem;
            margin-block: 1rem .1rem;

            .badge{
                padding: .15rem .5rem;
                border-radius: 500px;
                border: 1px solid $font-main;
                color: $font-main;
                opacity: .75;
                max-width: 120px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
            }
        }

        .contact-info-container, .budget-container {
            display: flex;
            align-items: center;
            margin-top: .5rem;
            
            .icon-container{
                display: flex;
                justify-content: center;
                min-width: 25px;
                margin-right: .5rem;
            }
        }

        .budget-container.budget{

            i{color: $main-1;}
            *{font-size: 1.25rem;}
        }

        .bid-container{
            overflow: auto;
            scroll-behavior: smooth;

            .icon-container{

                i{
                    padding: .25rem 1rem;
                    cursor: pointer;
                    
                    &.accept{
                        color: $green-1;
                    }
                    &.reject{
                        color: $red-1;
                    }
                }
            }
        }
    }

    .back-button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        
        a{
            background-color: $main-4;
            color: #fff;
            font-weight: 700;
            font-size: 1.25rem;
            padding: .5rem 3rem;
            border-radius: $radius-1;

            &:hover{color: #fff;}
        }
    }
}

