footer{
    position: relative;
    height: $footer-height;
    border-top: 1px solid $grey-1;
    display: flex;
    align-items: center;
    
    *{color: $main-1;}

    .container{
        position: relative;
        padding-inline: 1rem;
        text-align: center;
    }
}
